<div (vp-in-view)='handle(1)' [vp-in-view-config]="{infinite: false, marginTop:50 }" appDynamic>
    <!--<app-first></app-first>-->
</div>
<div (vp-in-view)='handle(2)' [vp-in-view-config]="{infinite: false, marginTop:50 }" appDynamic>
    <!--<app-second></app-second>-->
</div>
<div (vp-in-view)='handle(3)' [vp-in-view-config]="{infinite: false, marginTop:50 }" appDynamic>
    <!--<app-third></app-third>-->
</div>
<div (vp-in-view)='handle(4)' [vp-in-view-config]="{infinite: false, marginTop:50 }" appDynamic>
    <!--<app-fourth></app-fourth>-->
</div>
<div (vp-in-view)='handle(5)' [vp-in-view-config]="{infinite: false, marginTop:50 }" appDynamic>
    <!--<app-fifth></app-fifth>-->
</div>
<div id='footer'></div>